#h1{
    color: brown;
}
/* @media(max-width:600px){
    .title{
        color: red;
        font-size: small;
        font-weight: bold;
    }
} */
/* @media(max-width:500px){
    #h1{
        display: none;
    }
} */
@media(orientation:landscape){
    #h1{
        color: cornflowerblue;
    }
}
